<h3>Comments<h3>
<% @post.comments.each do |comment| %>
    <div class ="card bg-light">
        <div class="card-body">
            <div class="card-title"><h3><%= comment.username %></h3></div>
            <p><%= comment.body %></p>
            <%= link_to "[X]", [comment.post, comment],
                method: :delete,
                data: {confirm: "Are you sure?"},
                :class => "btn btn-danger"
            %>
        </div>
    </div>
<% end %>